%h1
  NLP Lifetuning Trainer

%ul
- @trainers.each do |t|
  %li
    .trainer_preview
      %a{href: trainer_show_path(id: t.id)}
        %img{src: "#{t.profile_picture.url}"}
        = t.name
        = t.subtitle
