%h1="Allgemeine Geschäftsbedingungen von NLP- Lifetuning"
%h2="Allgemeine Geschäftsbedingungen (AGB) für Seminare, Workshops und Coachings von NLP-Lifetuning."

%strong="Vorbemerkung"
%p
  Die hier aufgeführten AGB sind Bestandteil aller Verträge zwischen den Teilnehmern (im Folgenden „Kunde“ genannt) an unseren Seminaren, Workshops und Coachings und NLP-Lifetuning; vertreten durch Stefan Friedrich, Am Berg 5, 35083 Wetter. Anderslautende Geschäftsbedingungen des Kunden haben keine Gültigkeit. Mündliche Zusagen und Nebenabreden bedürfen der schriftlichen Bestätigung beider Parteien

%h3="§1 Anmeldung und Vergütung"

%h4
  1.1 Anmeldung

%p
  Eine Anmeldung zu einem Seminar, Workshop oder Coaching ist per Internet, E-Mail, Fax oder Telefon möglich. Innerhalb einer Woche erhält der Kunde eine Anmeldebestätigung per E-Mail oder Post. Dies gilt als Zeitpunkt des Vertragsschlusses. Eine Rechnung wird separat per E-Mail versandt.
%p
  NLP- Lifetuning behält sich das Recht vor, Anmeldungen ohne Angabe von Gründen abzulehnen.

%h4
  1.2 Vergütung
%p
  Die Höhe der Vergütung richtet sich nach den jeweils gültigen Preisen im Anmeldeformular und ist auf das in der Rechnung angegebene Konto zu überweisen. Die Teilnahme an einer Veranstaltung von NLP-Lifetuning setzt die vollständige Bezahlung der Vergütung bis mindestens vier Wochen vor Beginn der Veranstaltung voraus, es sei denn, die Parteien haben eine anderslautende schriftliche Vereinbarung getroffen.

%h4
  1.3 Sonderfall

%p
  Bei einer Anmeldung weniger als vier Wochen vor Veranstaltungsbeginn muss die Vergütung innerhalb von 7 Tagen ab Rechnungsdatum erfolgen, in jedem Fall jedoch vor Beginn der Veranstaltung

%h3
  §2 Widerrufsbelehrung

%h4
  2.1 Widerrufsrecht

%p
  Der Kunde kann seine Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform widerrufen. Die Frist beginnt nach Erhalt der AGB in Textform, jedoch nicht vor Vertragsschluss und auch nicht nach Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 i.V.m. § 1 I, II EGBGB sowie unserer Pflichten gemäß § 312e I 1 BGB i.V.m. Artikel 246 §3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs.

%h4
  2.2 Widerrufsfolgen

%p
  Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurück zu gewähren und ggf. gezogene Nutzungen (z.B. Zinsen) herauszugeben. Ist die empfangene Leistung ganz oder teilweise nicht oder in verschlechtertem Zustand zurückzugewähren, so muss insoweit ggf. Wertersatz geleistet werden.

%p
  Dies kann zur Folge haben, dass der Kunde die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf erfüllen muss.

%h4
  2.3 Besondere Hinweise

%p
  Das Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor der Kunde sein Widerrufsrecht ausgeübt hat.

%h3
  §3 Stornierung, Änderung

%h4
  3.1 Stornierung

%p
  Kostenfrei ist eine Stornierung bis zu 8 Wochen vor Veranstaltungsbeginn. Diese muss schriftlich bei NLP- Lifetuning eingehen. Bis vier Wochen vor Veranstaltungsbeginn sind 50% der Seminar- oder Workshopgebühr zu entrichten. Nach diesem Zeitpunkt ist die gesamte Gebühr zu entrichten.

%h4
  3.2 Ersatz

%p
  Es steht dem Kunden frei, einen Ersatzteilnehmer zu entsenden insofern dieser die nötigen Voraussetzungen zur Zulassung der entsprechenden Veranstaltung erfüllt. Diese Regelung gilt ausschließlich für den Normalpreis. Für Frühbucherrabatt oder sonstige Angebote, die einen Nachlass beinhalten, gilt lediglich das 14tägige Widerrufsrecht.

%h4
  3.3 Veranstaltungsteilnahme & -ort

%p
  NLP-Lifetuning behält es sich vor, die Veranstaltungsteilnahme vor oder während dieser abzulehnen. Hierfür ist eine Nennung von Gründen unnötig. Sollte jedoch ein schwerwiegender Grund, wie etwa die Störung der Veranstaltung, vorliegen, wird der volle Betrag fällig.
%p
  NLP-Lifetuning ist dazu berechtigt, die Veranstaltungslokalität kurzfristig zu wechseln, insofern die damit verbundenen Änderungen in einem zumutbaren Rahmen liegen. Desweiteren darf NLP-Lifetuning den Trainer ohne Angaben von Gründen austauschen, ohne dass sich hieraus Ansprüche für den Kunden ergeben.
%p
  Desweiteren ist NLP-Lifetuning dazu berechtigt, die Veranstaltung aus wichtigen Gründen abzusagen oder einen im gegenseitigen Einverständnis vereinbarten Alternativtermin wahrzunehmen. Als wichtiger Grund gilt insbesondere eine zu geringe Teilnehmerzahl oder die Verhinderung des Trainers wegen Krankheit.
%p
  Sollte NLP-Lifetuning den Ausfall der Veranstaltung zu vertreten habe, erfolgt die Erstattung der Veranstaltngsgebühr.
%p
  Ein Anspruch auf den Ersatz von eventuellen Reise-, Verpflegungs- und Übernachtungskosten sowie Arbeitsausfall ist ausgeschlossen.

%h3
  §4 Pflichten des Kunden

%p
  Der Kunde versichert NLP- Lifetuning, dass seine Angaben wahrheitsgemäß sind und ist somit für die Richtigkeit seiner Daten Verantwortlich.

%p
  Alle Veranstaltungen werden von qualifizierten und ausgebildeten Trainern durchgeführt, sollen jedoch weder eine psychotherapeutische oder ärztliche Behandlung ersetzen. Der Kunde hat vor Beginn sicher zu stellen, dass er geistig und körperlich gesund und belastbar ist.

%p
  Jeder Kunde trägt während einer Veranstaltung von NLP-Lifetuning die volle Verantwortung für sich und seine Handlungen. Für verursachte Schäden kommt er selbst auf.

%p
  Sollte der Kunde an einer Veranstaltung Teilnehmen, für die ein Zertifikat angeboten wird, so obliegt es dem Trainer zu entscheiden, ob der Kunde die notwendigen Voraussetzungen für dieses erfüllt.

%p
  Sämtliche Unterlagen, wie z.B. Präsentationen, Audio-CDs, Inhalte der Webseite, die dem Kunden durch NLP-Lifetuning zur Verfügung gestellt werden, beinhalten das Copyright von NLP-Lifetuning und dürfen nicht ohne ausdrückliche und schriftliche Genehmigung, auch nicht auszugsweise, verbreitet oder für eigene Zwecke verwendet werden.

%p
  Desweiteren sind Video- und Tonaufzeichnungen der Veranstaltungen nicht gestattet. Für das Fotografieren der Veranstaltung ist nur nach erteilter Erlaubnis von NLP-Lifetuning möglich.

%h3
  §5 Verschwiegenheitserklärung

%p
  NLP-Lifetuning ist dem Kunden zur völligen Verschwiegenheit verpflichtet. Dies umfasst sämtliche Inhalte der Ausbildungsleistungen, insbesondere sämtliche Information, welche NLP-Lifetuning über die Person des Kunden und sein Privates/berufliches Umfeld erhalten hat. Diese Verpflichtung besteht über die Vertragslaufzeit hinaus und erlischt nur insoweit der Kunde seine ausdrückliche und schriftliche Zustimmung erteilt hat.

%h3
  §6 Medieneinsatz

%p
  Für die Dauer der Veranstaltung gestattet der Kunde NLP-Lifetuning oder der von dieser beauftragten Person die Aufnahme von Audio- und Videoaufnahmen, sowie Fotos zum Zwecke der Werbung für ähnliche oder gleiche Veranstaltungen. Ein Anspruch auf etwaige Zahlungen besteht grundsätzlich nicht. Ein Recht des Kunden zum Widerspruch dieser Genehmigung besteht im Voraus, nicht mehr im Anschluss an die Veranstaltung

%h3
  §7 Haftungsausschluss

%p
  Die Teilnahme des Kunden an einer Veranstaltung von NLP-Lifetuning geschieht auf eigenes Risiko. Eine Haftung für Schäden jeglicher Art von NLP-Lifetuning ist ausgeschlossen, insofern dies nicht auf einer grob fahrlässigen oder vorsätzlichen Pflichtverletzung des Seminarleiters beruht.

%h3
  §8 Sonstiges
%p
  Über diese, der AGB hinaus gehende, Vereinbarungen bedürfen der Schriftform. Sollten einzelne Vereinbarungen oder Bestandteile dieser AGB unwirksam sein, so betrifft dies nicht die Wirksamkeit der übrigen allgemeinen Geschäftsbedingungen.

%p
  Stand der AGB von NLP-Lifetuning
  20.11.2012 