- content_for :head do
  :javascript
    (function($) {
      $.fn.sorted = function(customOptions) {
        var options = {
          reversed: false,
          by: function(a) { return a.text(); }
        };
        $.extend(options, customOptions);
        $data = $(this);
        arr = $data.get();
        arr.sort(function(a, b) {
          var valA = options.by($(a));
          var valB = options.by($(b));
          if (options.reversed) {
            return (valA < valB) ? 1 : (valA > valB) ? -1 : 0;        
          } else {    
            return (valA < valB) ? -1 : (valA > valB) ? 1 : 0;  
          }
        });
        return $(arr);
      };
    })(jQuery);

    // DOMContentLoaded
    $(function() {

      // bind radiobuttons in the form
      var $filterType = $('#filter input[name="type"]');
      var $filterSort = $('#filter input[name="sort"]');

      // get the first collection
      var $applications = $('#applications');

      // clone applications to get a second collection
      var $data = $applications.clone();

      // attempt to call Quicksand on every form change
      $filterType.add($filterSort).change(function(e) {
        if ($('#filter input[name="type"]:checked').val() == 'all') {
          var $filteredData = $data.find('li');
        } else {
          var $filteredData = $data.find('li[data-type=' + $('#filter input[name="type"]:checked').val() + ']');
        }

        // if sorted by size
         if ($('#filter input[name="sort"]:checked').val() == "size") {
           var $sortedData = $filteredData.sorted({
             by: function(v) {
               return parseFloat($(v).find('span[data-type=size]').text());
             }
           });
         } else {
            //if sorted by name
           var $sortedData = $filteredData.sorted({
             by: function(v) {
               return $(v).find('strong').text().toLowerCase();
             }
           });
         }   

        // finally, call quicksand
        $applications.quicksand($sortedData, {
          duration: 800,
          easing: 'easeInOutQuad'
        });

      });

    });
%h1 NLP Lifetuning Seminare

- @categories.each do |c|
  .seminar_preview
    %h2 
      =c.name
    %ul
      -c.seminars.each do |s|
        %li
          =link_to s.title, seminar_show_path(id: s.id)




%form#filter
  %fieldset
    %legend="Sortieren nach Typ"
    %label
      %input{type: "radio", name: "type" ,value: "all" , checked: "checked"}="Everything"
    %label
      %input{type: "radio", name: "type" ,value: "app"}="App"
    %label
      %input{type: "radio", name: "type" ,value: "util"}="Util"

  %fieldset
    %legend="Sortieren nach "
    %label
      %input{type: "radio", name: "sort" ,value: "size", checked: "checked"}="Size"
    %label
      %input{type: "radio" ,name: "sort" ,value: "name" }="Name"

%ul#applications.image_grid
  - types = ["app", "util"]
  - 25.times do |i|
    %li{:"data-id" => "id-#{i}", :"data-type" => types.shuffle.first}
      =image_tag ('plus_man.png')
      %strong="Item #{i}"
      %span{:"data-type"=>"size"}="#{i*10} KB"
    
