%h1 NLP Lifetuning Seminare

- @categories.each do |c|
  .seminar_preview
    %h2 
      =c.name
    %ul
      -c.seminars.each do |s|
        %li
          =link_to s.title, seminar_show_path(id: s.id)

