@import url('http://fonts.googleapis.com/css?family=Lato:400,700,900')
@import url(http://fonts.googleapis.com/css?family=Marvel:400,700,700italic,400italic|Oxygen:400,300,700)

$background-brown: #f0f0f0
$green: #c7dc53
//$green: #d8e787
$dark: #2d2d2d
$white: #FFFFFF
$gray: #ababa9
$sidebar-gray: #e6e5e0
$error: #bc1b01
.clear
  clear: both
.space
  clear: both
  padding: 20px

body
  background-color: $background-brown
  font-family: 'Lato', sans-serif
  font-size: 12pt
.header
  font-weight: bolder
  img
    border: none
.heading
  font-family: 'Oxygen'
h1
  @extend .heading
  font-size: 24pt
  font-weight: bolder
  margin-bottom: 20px
h2
  @extend .heading
  font-size: 16pt
  margin-bottom: 20px
h3
  @extend .heading
  font-size: 13pt

a
  text-decoration: none
  color: $dark
  font-size: 13pt

b,strong
  font-weight: bold
//  color: $green

p
  margin-bottom: 15px
  line-height: 1.4

img
  border: 1px solid $dark


input[type="text"],input[type="email"], input[type="tel"], textarea
  border: none
  padding: 5px
  margin-bottom: 5px
  width: 250px
  text-align: left

td
  padding: 5px 10px
  padding-left: 0px

.left
  +column(4)
.right
  +last-column(4)


#wrapper
  +grid-container

.content


.button-dark
  background: $dark
  color: $background-brown
  padding: 10px
  margin: 5px
  display: inline-block
  text-align: center
  font-size: 10pt

.button-green
  @extend .button-dark
  background: $sidebar-gray
  color: $dark



.border
  height: 1px
  width: 100%
  margin: 20px 0px

.border-bottom
  padding-bottom: 10px
  margin-bottom: 10px
  border-bottom: 1px solid $gray

.sidebar
  +column(3)

.big-content  
  +last-column(5)

.intro_text
  margin: 30px

.icon
  width: 15px
  border: none
  margin: 5px
  margin-left: 0px
  margin-right: 10px


.row
  +row