 <%= semantic_form_for [:admin, @seminar], :builder => ActiveAdmin::FormBuilder do |f|

    puts f.object.errors.inspect
        #puts f.object.errors.inspect


      f.inputs do
      #f.form_buffers.last << "<legend><span class='title_app_profil' id='user'><a href='#navigation'>User</a></span></legend>".html_safe
        f.input :category
        f.input :title
        f.input :abschluss 
        f.input :description
        # f.input :crleated_at, :label => "Cr-eate User At", :as => :datepicker,:input_html => { :style  => "width:100px;"}
      end

      f.has_many :infoitems do |item|
        item.input :title
        item.input :short_description
        item.input :description
      end

      f.has_many :termines do |item|
        item.input :start_date
        item.input :end_date
        item.input :amount
        item.input :address
      end

      # semantic_form_for :pictures do |pic|
      #   @picture=pic.object
      #   render 'admin/pictures/form'
      # end

      # f.has_many :pictures do |item|
      #   item.semantic_form_for 
      #   @picture=item
      #   render 'admin/pictures/form'
      # end

      
      f.buttons
    end 
      %>
