 <%= semantic_form_for [:admin, @seminar], :builder => ActiveAdmin::FormBuilder do |f|

    puts f.object.errors.inspect
        #puts f.object.errors.inspect


      f.inputs do
      #f.form_buffers.last << "<legend><span class='title_app_profil' id='user'><a href='#navigation'>User</a></span></legend>".html_safe
        f.input :category
        f.input :title
        f.input :subtitle
        f.input :abschluss 
        f.input :description, :input_html => { :class => 'mceEditor', :size => "80x15" }
        # f.input :crleated_at, :label => "Cr-eate User At", :as => :datepicker,:input_html => { :style  => "width:100px;"}
      end

      f.has_many :infoitems do |item|
        item.input :title
        item.input :menu_title
        item.input :short_description, :input_html => { :class => 'mceEditor', :size => "80x15" }
        item.input :description,  :input_html => { :class => 'mceEditor', :size => "80x15" }
      end

      f.has_many :termines do |item|
        item.input :start_date
        item.input :end_date
        item.input :amount
        item.input :address
      end

      f.has_many :prices do |item|
        item.input :price
        item.input :priceclass
      end

      f.has_many :pictures do |item|
        item.input :name
        item.input :item, as: :file
      end

      
      f.buttons
    end 
      %>
