.seminar_img_preview
  - Seminar.limit(3).each do |s|
    %a{href: "/seminar_showroom/#{s.slug}"}
      .img{style: "background: transparent url('#{s.indexpic.url}') center center"}
      .clear
      %p=s.title
    .clear