%h1 NLP Lifetuning

.top_picture
  .subtitle
    %p="Seminare und Ausbildungen auf höchstem Niveau"
  .seminar_index_pic{style: "background: transparent url('/assets/hoehe1200.jpg') center center"}

.bla_bla
  %p
    Seminare sollen Spaß machen, Wissen vermitteln, Veränderungen bringen und Ressourcen zugänglich machen.
    %br
    %br
    Durch kompetente Trainer, die ihren Beruf lieben,
    %strong="sich ständig und stetig weiterbilden"
    und daran interessiert sind, den Teilnehmern 
    %strong="einen echten Profit zu liefern"
    , wird NLP-Lifetuning geprägt.
    %br
    %br
    Mit viel Leidenschaft arbeiten wir konsequent daran, 
    %strong="jedes Seminar auf Spitzenniveau zu bringen."
    Das ist manchmal schwer. Gerade dann, wenn Seminare an Firmenstrukturen angepasst werden müssen. Hierbei hilft uns die Erfahrung, die unsere Trainer aus den verschiedensten Bereich mit in die Konzeption einfließen lassen.
    %br
    %br
    Menschlichkeit vermisst man manchmal in Seminaren oder auch im Alltag. Für uns ist es besonders wichtig, dass 
    %strong="die Seminare mit viel Menschlichkeit und Freude an der Entwicklung und Veränderung gefüllt sind."
    Gerade die Seminare, 
    %strong="die durch ihr Ziel und ihre Zielgruppe besonders intensiv sind,"
    können nur so intensiv sein, wenn ein Raum entsteht, in welchem Teilnehmer und auch Trainer sich wohl fühlen.
    %br
    %br
    Das Leben zu tunen bedeutet 
    %strong="Stärken zu stärken" 
    und 
    %strong="Schwächen zu schwächen."
    Was erst mal gegensätzlich klingt, ist auf den zweiten Blick sehr eindeutig und klar. Eine verstimmte Gitarre klingt schließlich auch nur lauter und keineswegs besser, wenn sie an einen großen Gitarrenverstärker angeschlossen wird.
    NLP-Lifetuning gibt dir das Stimmgerät und einen großen Werkzeugkasten an die Hand und du entscheidest dabei selbst, wie du deine Gitarre umstimmen magst und
    %strong="welche Werkzeuge in deinen Werkzeugkasten sollen."
    %br
    %br
    Wir versprechen dir, dass wir alles daran setzen, deine NLP-Ausbildung oder dein Seminar so intensiv, effektiv und erfolgreich wie möglich zu machen.


=render 'seminar_preview'
