%h1="Unsere Erfolgsstrategie"
%h2="Wir zeigen dir den Weg zum Erfolg."
.bla_bla
  %p
    Mit einer Hypnose oder NLP-Ausbildung bei uns bekommst du viel mehr wie nur eine Ausbildung in NLP oder Hypnose. Wir haben für dich die Ausbildungen so gestaltet, dass du Optimal gefördert wirst und dein Potential voll entfalten oder wecken kannst. 
    %br
    %br
    Du wirst nach einer NLP-Ausbildung bei uns vielleicht dein Leben und deinen Beruf aus einer ganz anderen Sicht sehen und möglicherweise gibt dir das die Wahlmöglichkeiten, die du schon lange gesucht hast. Mit dieser Flexibilität, dem neuen Wissen und den vielen Werkzeugen, die du bei uns in der NLP- oder Hypnoseausbildung bekommst, kannst du dein Potenial völlig entfalten und dein Leben tunen.
    %br
    %br
    Lerne durch NLP deine Kommunikation effektiv zu verbessern und entdecke die vielen Möglichkeiten, die NLP und Hypnose im Coaching, Vertrieb oder auch z.B. in pädagogischen Berufen bringt. Durch eine NLP-Ausbildung bei uns wirst du lernen mit den verschiedensten Situationen im Leben selbstbewusst und erfolgreich umzugehen. 
    Du wirst jederzeit erkennen, wenn andere versuchen dich zu manipulieren und du bekommst Werkzeuge an die Hand, um in solchen Situationen passend zu reagieren. 
    Vor Gruppen wirst du mit Leichtigkeit erfolgreich reden und dabei überzeugend wirken.
    %br
    %br
    Die richtige Strategie zu wählen, die auch erfolgreich ist, erfordert Wahlmöglichkeiten zu haben. Innerhalb der NLP-Ausbildung bei uns lernst du viele Entscheidungsstrategien kennen und wirst selbst eigene Strategien entwickeln. 
    %br
    %br
    Und wenn du jetzt noch neugieriger bist und mehr über unsere Seminare erfahren möchtest, bist du herzlich dazu eingeladen, dich auf unserer Website zu informieren. Wenn es dir schwer fällt das richtige Seminar oder die Ausbildung zu finden, die für dich am besten passt oder du vielleicht noch ganz andere Fragen hast, sprich uns einfach direkt an. Wir kümmern uns gerne um deine offenen Fragen. 
    %br
    %br
    Dein NLP-Lifetuning Team 

=render 'seminar_preview'