%h1="Willkommen"
.big-content
  %p
    Gratulation!
    %br
    %br
    So eben hast Du dich für die Teilnahme an unserem Seminar entschieden und damit die Weichen für Dich gestellt neue Fähigkeiten zu lernen. Wir freuen uns schon darauf Dich persönlich kennenzulernen und werden alles daran setzen das Seminar so zu gestalten das sie für Dich unvergesslich und erfolgreich ist.
    %br
    %br
    Du hast so eben eine Anmeldebestätigung per Mail bekommen!
    %br
    %br
    Wir freuen uns auf Dich
    %br
    Lifecoach Stefan Friedrich und das gesammte NLP-Lifetuning Team

.sidebar
  =image_tag 'hoehemini.jpg', style: "float: right"