.contact_form
  +column(5)
  input[type="text"], textarea
    width: 450px
  
.contact_items
  +last-column(3)

.bla_bla
  +column(5)

.seminar_img_preview
  +last-column(3)

  .img
    width: 300px
    height: 150px
  p,.img
    float: right
    margin-left: 0px

.index_slogan_picture
  margin-top: -20px
  margin-bottom: 20px

.six
  +column(6)
.last-two
  +last-column(2)
  text-align: right
  font-style: italic
  p
    strong
      font-size: 13pt
    margin-top: 20px
    margin-right: 10px

.vierhundert
  width: 360px
  float: left
  margin-right: 30px
  p
    margin-top: 10px
  .button-green
    float: right
    margin-right: 20px
    

.index_trainer_preview
  width: 170px
  height: 170px
  float: left
  margin-right: 20px
  img
    padding: 5px
    border: 1px solid $gray  
    height: 100px
    margin: auto
  p
    text-align: center
    margin: 0

.index_trainer_preview_text
  +last-column(3)
  p
    margin-left: 30px
    text-align: right