.carousel

.carousel_item
  width: 0px
  padding: 0px
  overflow: hidden
  float: left
  background: $background-brown

.customLink
  cursor: hand
  cursor: pointer

.seminar_menu
  li
    float: left
    margin-right: 20px

.seminar_info
  margin-bottom: 30px
  img
    margin: 5px

.info_item
  h2
    margin-bottom: 10px
    font-size: 13pt

.termin
  margin-bottom: 30px
  .icon
    float: left
  .date
    float: right
    margin-right: 10px
  .buy-termin
    float: right


.image_grid
  list-style: none
  width: 800px
  li
    width: 300px
    float: left
    padding: 15px
    margin: 10px
    border: 1px solid $dark

#filter
  margin: 20px 0px

  label
    background-color: $dark
    color: $white
    display: block
    float: left
    padding: 3px
