.carousel
  width: 750px
  ul
    width: 99999px
    list-style: none
  li
    width: 750px
    overflow: hidden
    float: left
    display: block
    div
      width: 710px
      margin: 20px

.customLink
  cursor: hand
  cursor: pointer

.seminar_menu
  li
    float: left
    margin-right: 20px