.carousel

.carousel_item
  width: 810px
  margin: 20px
  display: none

.customLink
  cursor: hand
  cursor: pointer

.seminar_menu
  li
    float: left
    margin-right: 20px

.seminar_info
  margin-bottom: 30px
  img
    margin: 5px

.info_item
  h2
    margin-bottom: 10px
    font-size: 13pt

.termin
  margin-bottom: 30px
  .icon
    float: left
  .date
    float: right
    margin-right: 10px
  .buy-termin
    float: right


.image_grid
  list-style: none
  width: 800px
  li
    width: 100px
    float: left