 <%= semantic_form_for [:admin, @attendee], :builder => ActiveAdmin::FormBuilder do |f|

    puts f.object.errors.inspect
        #puts f.object.errors.inspect


      f.inputs do
      #f.form_buffers.last << "<legend><span class='title_app_profil' id='user'><a href='#navigation'>User</a></span></legend>".html_safe
        f.input :firstname
        f.input :lastname
        f.input :streetnr
        f.input :plz
        f.input :city
        f.input :birthday
        f.input :email
        f.input :tel
        #f.input :description, :input_html => { :class => 'mceEditor', :size => "80x30"}
      end

      f.has_many :reservations do |item| 
        item.input :comment
        item.input :day_of_payment
        item.input :termine
        item.input :price
        item.input :paymentmode
      end

      
      f.buttons
    end 
      %>
