.seminar_footer
  %h3="Seminare"
  -Category.all.each do |c|
    .footer_seminar_box
      .footer_sub_title=c.name
      %ul
        -c.seminars.each do |s|
          %li
            %a{href: seminar_show_path(id: s.id)}=s.title
      .clear
.contact_footer
  %h3
    Kontakt
  %ul.footer_contact_menu
    %li
      =link_to "Über NLP Lifetuning", home_about_path
    %li
      =link_to "Trainer", trainer_index_path
    %li
      =link_to "Kontaktformular", home_contact_path
    %li
      =link_to "Impressum", home_impressum_path
.stefan_footer
  
  %table
    %tr
      %td
        =image_tag("Icons/Standort.png", class: 'icon')
      %td
        NLP Lifetuning
        %br
        Am Berg 5
        %br
        35083 Wetter
    %tr
      %td
        =image_tag("Icons/Telefon.png", class: 'icon')
      %td
        064239397614
    %tr
      %td
        =image_tag("Icons/Skype.png", class: 'icon')
      %td
        Hypnovision
    %tr
      %td
        =image_tag("Icons/Mail.png", class: 'icon')
      %td
        info@nlp-lifetuning.de

  =image_tag('nlp-logo.png')
