.seminar_footer
  %h3="Seminare"
  -Category.all.each do |c|
    .footer_seminar_box
      .footer_sub_title=c.name
      %ul
        -c.seminars.each do |s|
          %li
            %a{href: seminar_show_path(id: s.id)}=s.title
      .clear
.contact_footer
  %h3
    Kontakt
.stefan_footer
  %h3
    Anfragen    
